*{padding: 0;margin: 0}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}
.logo{
    width: 45%;
    margin-left: -4%;
    margin-top: -2%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.rt{
    float: right;
}
.lf{
    float: left;
}
.mt3{
    margin-top: 3%;
}
.mb3{
    margin-bottom: 3%;
}
.mb6{
    margin-bottom: 6%;
}
.clear{
    overflow: hidden;
}
.swiper-wrapper img{
    width: 100%;
}
.slider-content{
    margin-top: 50px;
}
.banner{
    border: 1px solid #16A0E8;
    border-radius: 3px;
    margin: 5% 1%;
}
.click_check{
    display: block;
    width: 40%;
    height: 4%;
    border: 1px solid #E67E7E;
    background: #E67E7E;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2%;
}
.products-title{
    text-align: center;
    color:#16A0E8;
}
.products-title>.main-title{
    padding-bottom: 1%;
    width: 80%;
    margin: 0 auto;
    position: relative;
    font-weight: bold;
}
.products-title>.main-title:after{
    content:"";
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    border-bottom:1px solid #16A0E8;
    -webkit-transform:scaleY(.5);
    -webkit-transform-origin:0 0;
}
.product-block{
    width: 28%;
    margin-left: 4%;
    color:#16A0E8;
}
.product-block img{
    width: 100%;
    border-radius: 3px;
}
.select_wrapper {
    line-height: 36px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}
.select_wrapper span {
    display: block;
    margin: 0 auto;
    background: #F2F2F2;
}
.select_wrapper .select_inner {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #000000;
    display: none;
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    z-index: 3;
}
.select_wrapper .select_inner li {
    border-bottom: 1px solid #eee;
    padding: 0 15px;
}
.select_wrapper .select_inner li:hover {
    background: #6dbcee;
}
.select_wrapper .select_inner li:last-child {
    border: none;
    border-radius: 0 0 5px 5px;
}
.select_wrapper .select_inner li:first-child {
    border-radius: 5px 5px 0 0;
}
.form-box-show{
    margin: 1%;
    border: 1px solid #dddddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.cal-form input{
    display: block;
    width: 97%;
    margin: 2% auto;
    border-radius: 3px;
    height: 2em;
    border:1px solid #dddddd;
    padding-left: 2%;
    background: #F2F2F2;
}
.cal-form select{
    display: block;
    width: 97%;
    margin: 1% auto;
    border-radius: 3px;
    height: 2em;
    border: 1px solid #dddddd;
    padding-left: 2%;
    background: #F2F2F2;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding-right: 14px;
}
.cal-form select::-ms-expand { display: none; }
.cal-form {
    display: block;
    border-radius: 3px;
}
.cal-form-title{
    overflow: hidden;
    margin-top:10px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 8px;
    text-align: center;
}
.contact-form-title{
    overflow: hidden;
    margin-top:10px;
    padding-bottom: 8px;
    text-align: center;
}
.form-text{
    margin: 0 2%;
    width: 50%;
}
.form-num{
    border: 1px solid #dddddd;
    display: inline-block;
    height: 1.2em;
    width: 7%;
    margin: 0 2%;
}
.customer-slider{
    border: 1px solid #dddddd;
    border-radius: 3px;
    width: 98%;
    margin: 0 1%;
}
.txtMarquee-top{width:100%;height:30%;box-sizing: border-box; background: white;  overflow:hidden; position:relative;   }
.txtMarquee-top .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px;  }
.txtMarquee-top .hd .prev,.txtMarquee-top .hd .next{ display:block;  width:9px; height:5px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;
    cursor:pointer; }
.txtMarquee-top .hd .next{ background-position:0 -140px;  }
.txtMarquee-top .hd .prevStop{ background-position:-60px -100px;  }
.txtMarquee-top .hd .nextStop{ background-position:-60px -140px;  }
.txtMarquee-top .bd{ padding:15px;  }
.txtMarquee-top .infoList li{ height:32px; line-height:32px;border-bottom: 1px solid #dddddd;   }
.txtMarquee-top .infoList li .date{ float:right; color:#999;  }

.choose-machine{
    margin: 2% 0;
}
.choose-machine-content{
    width: 100%;
    overflow: hidden;
    margin-bottom: 2%;
}
.machine-block{
    text-align: center;
    width: 16%;
    float: left;
    height: 2em;
    line-height: 2em;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-left: 5%;
}
.contact-form-block{
    color: white;
    text-align: center;
    width: 23%;
    float: left;
    height: 2em;
    line-height: 2em;
    border-radius: 3px;
    margin-left: 8%;
    font-size: 0.8em;
}
.phone-number>input{
    display: block;
    width: 91%;
    margin: 2% auto;
    border-radius: 3px;
    height: 2em;
    border: 1px solid #dddddd;
    padding-left: 2%;
    background: #F2F2F2;
    margin-left: 5%;
}
.cal-form2-submit>input{
    display: block;
    width: 91%;
    margin: 2% auto;
    border-radius: 3px;
    height: 2em;
    border: 1px solid #dddddd;
    padding-left: 2%;
    background: #16A0E8;
    color: #ffffff;
    font-weight: bold;
    margin-left: 5%;
}
.type-content-block{
    text-align: center;
    margin-left: 5%;
    margin-bottom: 1em;
    width: 27%;
    float: left;
    height: 2em;
    line-height: 2em;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
.choose-type{
    margin: 2% 0;
}
.products-introduce{
    margin: 2% 0;
}
.main-introduce li{
    width: 100%;
}
.left-img{
    margin-right: 2%;
    width: 20%;
    border: 1px solid #dddddd;
    float: left;
    border-radius: 50%;
}
.right-text{
    width: 74%;
    float: left;

}
.introduce-title{
    width: 60%;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
}
.img-background{
    border: 1px solid #16A0E8;
    border-radius: 3px;
    background: #16A0E8;
}
.img-background img{
    padding: 15%;
}
.feature-block{
    float: left;
    width: 14%;
    margin-left: 9%;

}
.check_button{
    display: block;
    width: 34%;
    background: #16A0E8;
    border:1px solid #16A0E8;
    border-radius: 10px;
    text-align: center;
    color:white;
}
.view-price-button{
    display: block;
    width: 72%;
    height: 2.2em;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.2em;
    background: #F79C33;
    border-radius: 10px;
    text-align: center;
    color:white;
    margin: 7% 0;
    margin-left: 19%;
}
.cash-coupon{
    margin:0 1%;
    background: #F26D4F;
    color:white;
}
.cash-coupon-title{
    margin-top: 3%;
    margin-left: 3%;
    font-size: 1.2em;

}
.cash-coupon-little-button{
    width: 20%;
    margin-top: 2%;
    text-align: center;
    background: #F79C33;
    padding: 1%;
    color:white
}
.cash-coupon-money{
    border: 1px solid white;
    border-radius: 1px;
    width: 93%;
    margin: 0 auto;
    position: relative;
}
.cash-coupon-num{
    text-align: center;
    width: 20%;
    color: #37F72D;
    position: absolute;
    left: 40%;
    top:84%;
    background: #F26D4F;
}
.cash-coupon-center{
    position: relative;
    overflow: hidden;
    height: 2.4em;
}
.left-round{
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    background: white;
    position: absolute;
    left: -3%;
    top: 24%;
}
.right-round{
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: -3%;
    top: 24%;
}
.dotted-line{
    border-bottom: 1px dotted white;
    width: 100%;
    position: absolute;
    top:55%;
}
.cash-coupon-bottom-button{
    letter-spacing:2px;
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 2.2em;
    font-size: 1.2em;
    line-height: 2.2em;
    text-align: center;
    color: white;
    background: #F79C33;
    border-radius: 3px;
}
.gift-content{
    border: 1px solid #16A0E8;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 1%;
    padding: 1%;
}
.gift-content>li{
    width: 47%;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 1%;
}
.gift-content-bk{
    background: #16A0E8;
    width: 35%;
    border-radius: 50%;
    float: left;
    margin-right: 4%;
}
.gift-content-text{
    width: 60%;
}
.gift-content-text>p{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.1em;
    font-weight: bold;
}
.gift-content-order{
    letter-spacing:2px;
    display: block;
    margin: 2% auto;
    width: 60%;
    height: 2.2em;
    font-size: 1.2em;
    line-height: 2.2em;
    text-align: center;
    color: white;
    background: #F79C33;
    border-radius: 3px;

}
.shop-block{
    float: left;
    width: 17%;
    margin-left: 13%;
    position: relative;
}
.shop-img-background{
    border: 1px solid #16A0E8;
    border-radius: 50%;
    margin-bottom: 10%;

}
.shop-block-name{
    width: 35%;
    margin-top:2%;
    padding-left: 6%;
    border-right: 1px solid #dddddd;

    font-size: 1em;
    font-weight: bold;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.install-block>li{
    float: left;
    width: 6em;
    height: 6em;
    line-height: 6em;
    margin-left: 2%;
    margin-bottom: 2%;
}

